@import url('https://fonts.googleapis.com/css?family=Rubik');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
    @apply bg-slate-950;
    @apply min-h-screen;
    font-family: Rubik;
    @apply text-slate-50;
  }
}
